* {
    margin: 0
}

html {
    background-color: mediumaquamarine;
}

.wrapper {
    position: center;
    padding-top: 80px;
    margin-left: 90px;
    width: 90%;
    background-color: rebeccapurple;
}

img {
    width: 250px;
    height: 200px
}

nav {
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #11679b;
    color: white;
    box-sizing: border-box;
    padding-top: 14px;
    padding-left: 15px;
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 20px;
    text-align: center;
    position: relative;
    color: gold;
}

a {
    color: #d3c6f5;
    text-decoration: none;
    margin-right: 20px;
    font-size: 45px;
    font-weight: bold;
}